body{
				font-family:'Comic Sans MS', cursive;

			}
			h2{
				text-decoration:underline;
			}
			div {
				display: block;
				text-align:center;
			  }
			
			.info{
				width:450px;
				padding:20px;
				margin: 0 auto;  /* put  box in centre */
				text-align:justify;
				background-color:#00CCFF;
			}
			
			.resultInfo1{
				border-style: solid;
				border-color:#F8F8F8;
				background-color:#B0B0B0;
			}
			.resultInfo2{
				border-style: solid;
				border-color:#F8F8F8;
				background-color:#E8E8E8;
			}